streamlit

langchain
langchain-community
langchain-openai
langchain-text-splitters

chromadb==0.4.22

sentence-transformers

pypdf
openai
tiktoken

transformers
torch
torchvision

protobuf==3.20.3
