streamlit==1.35.0
langchain==0.1.17
langchain-community==0.0.36
sentence-transformers==2.6.1
huggingface-hub==0.23.0
scikit-learn==1.4.2
pypdf==4.2.0
requests==2.31.0
numpy==1.26.4
Pillow==10.3.0
